h1{
    font-size: 20px;
    background-color: white;
}
table{
    width: 100%;
}
table, th, td{
    border-style:solid;
    border-width:1px;
    border-color:white;
    border-collapse: collapse;
}
th, td{
    width:auto;
    background-color:#42b8a4;
}
img{
    width:100px;
}
