body{
    font-family:Lucida Handwriting;
}
h1{
    font-size: 20px;
    background-color: white;
}
table{
    width: 100%;
    border-radius:5px;
    color:#eff0da;
}
table, th, td{
    border-style:solid;
    border-width:5px;
    border-color:white;
    border-collapse: collapse;
}
th, td{
    width:auto;
    background-color:#63cfbd;
}
tr:hover{
    background-color:#daf0eb;
    color:#000000;
}
th{
    background-color:#42b8a4;
    color:#FFFFFF;
}
img{
    width:200px;
}
