body{
    font-family:Lucida Handwriting;
    background-color:#dbdaa0;
}
h1{
    font-size: 20px;
    background-color: white;
}
table{
    width: 100%;
    border-radius:5px;
    color:#eff0da;
}
table, th, td{
    border-style:solid;
    border-width:5px;
    border-color:white;
    border-collapse: collapse;
}
tr:hover{
    background-color:#FFFFFF;
    color:#000000;
}
tr{
    width:auto;
    background-color:#63cfbd;
}
th{
    background-color:#42b8a4;
    color:#FFFFFF;
}
.innerTable{
    border-style:none;
    border-width:none;
    border-color:none;
    border-collapse: collapse;
}
img{
    width:250px;
    display: none;
}
